.rounded {
  width: 100%;
  height: 15em;
  overflow: hidden;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.card-body {
  margin-top: 25px;
  padding-left: 150px;
  padding-right: 150px;
}

.submit {
  text-align: right;
  margin: 2px;
}

.file-field {
  text-align: left;
  border-width: 1px;
  padding: 5px;
  margin: 5px;
}

.btn-header {
  width: 150px;
}

.holder {
  padding: 75px;
  box-shadow: 9px 9px 15px #bbb;
  background-color: #fff;
}

.avatar {
  text-align: center;
  padding: 25px;
  margin: 10px;
}

.post {
  padding: 25px;
  margin: 15px;
  font-size: 20px;
}

.post-container {
  border-bottom: 1px black;
}

.likes {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 1em;
  color: #808080;
}

.buttons {
  // background-color: lightgray;
  padding: 0px;
  width: auto;
}

.but{
  display: inline;
  // background-color: yellow;
  padding-left: 0px;
  margin-right: 5px;
}

// .button:hover {
// 	// background-color: white;
// 	// border-color: white;
//   color: white;
// }
// 
// .button {
// 	background-color:;
//   color: blue;
// 	border-color: white;
// }

.atooltip {
  position: relative;
  display: inline-block;
}

.atooltip .atooltiptext {
  visibility: hidden;
  width: auto;
  background: blue;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 5px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.atooltip:hover .atooltiptext {
  visibility: visible;
}
