.rounded {
  width: 100%;
  height: 15em;
  overflow: hidden;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.card-body {
  margin-top: 25px;
  padding-left: 150px;
  padding-right: 150px;
}

.submit {
  text-align: right;
  margin: 2px;
}

.file-field {
  text-align: left;
  border-width: 1px;
  padding: 5px;
  margin: 5px;
}

.btn-header {
  width: 150px;
}

.holder {
  padding: 75px;
  box-shadow: 9px 9px 15px #bbb;
  background-color: #fff;
}

.avatar {
  text-align: center;
  padding: 25px;
  margin: 10px;
}

.post {
  padding: 25px;
  margin: 15px;
  font-size: 20px;
}

.post-container {
  border-bottom: 1px black;
}

.likes {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 1em;
  color: #808080;
}

.buttons {
  // background-color: lightgray;
  padding: 0px;
  width: auto;
}

.row {
  // background-color: yellow;
}

// .buttons btn {
//   background-color: #4CAF50;
//   color: white;
// }
//
// .buttons btn {
//     color: #212529;
//     background-color: #7cc;
//     border-color: #5bc2c2
// }


// .rounded {
//   width: 100%;
//   height: 15em;
//   overflow: hidden;
// }
//
// .column {
//   float: left;
//   width: 33.33%;
//   padding: 5px;
// }
//
// .atooltip {
//   position: relative;
//   display: inline-block;
// }
//
// .atooltip .atooltiptext {
//   visibility: hidden;
//   width: 60px;
//   background: rgba(0, 0, 0, 0.8);
//   color: #fff;
//   text-align: left;
//   border-radius: 6px;
//   padding: 5px 0;
//
//   /* Position the tooltip */
//   position: absolute;
//   z-index: 1;
//   top: -5px;
//   left: 105%;
// }
//
// .atooltip:hover .atooltiptext {
//   visibility: visible;
// }
